<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Worldwide Travelover - nowa wiadomość!</title>

    <style>
      table.center {
        margin-left:auto;
        margin-right:auto;
      }
      .welcome-email .hero-image {
        background-image: url("https://s3.eu-central-1.amazonaws.com/photos-worldwide/small-coco.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        width: 650px;
        height: 300px;
        display: block;
        opacity: 0.9;
      }
      .welcome-email .hero-text {
        text-align: center;
        color: white;
        position: absolute;
        text-align: center;
        top: 80px;
        width: 100%;
      }
      .title {
        font-size: 55px;
        padding-bottom: 15px;
        padding-top: 15px;
        text-align: center;
        color: #3b444f;
        font-weight: bold;
        font-family: BentonSans, Helvetica, Arial, sans-serif;
      }
      .title p {
        margin-bottom: 5px;
        margin-top: 5px;
      }
      .main-text {
        padding-bottom: 30px;
        text-align: center;
        padding-top: 30px;
        font-family: BentonSans, Helvetica, Arial, sans-serif;
        font-size: 18px;
        line-height: 26px;
        color: #3b444f;
      }
      .uppercase {
        text-transform: uppercase;
        font-weight: bold;
      }
      img {
        width: 35px;
        height: 40px;
        padding-left: 15px;
        padding-right: 15px;
      }
      .socials p {
        margin-top: 50px;
        margin-bottom: 30px;
      }
      .follow-text {
        padding-bottom: 15px;
        font-family: BentonSans, Helvetica, Arial, sans-serif;
        font-size: 15px;
        line-height: 19px;
        text-align: center;
        color: #2c3642;
        margin-top: 45px;
      }
      .insta {
        background-image: url("https://s3.eu-central-1.amazonaws.com/photos-worldwide/instagram.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        width: 30px;
        height: 30px;
        display: block;
      }
      .facebook {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        width: 30px;
        height: 30px;
        display: block;
        background-image: url("https://s3.eu-central-1.amazonaws.com/photos-worldwide/facebook.jpg");
      }
    </style>
  </head>
  <body>
    <table>
      <td>
        <table>
          <tbody>
            <tr>
              <td>
                <p>Nowa wiadomość od:</p>
                <p><%= @contact.name %> (<%= @contact.email %>)</p>
                <p>Treść: <%= @contact.body %></p>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </table>
  </body>
</html>
