<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Nowy post na Worldwide Travelover</title>

    <style>
      table.center {
        margin-left:auto;
        margin-right:auto;
      }
      .welcome-email .hero-image {
        background-image: url("https://s3.eu-central-1.amazonaws.com/photos-worldwide/small-coco.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        width: 650px;
        height: 300px;
        display: block;
        opacity: 0.9;
      }
      .welcome-email .hero-text {
        text-align: center;
        color: white;
        position: absolute;
        text-align: center;
        top: 80px;
        width: 100%;
      }
      .title {
        font-size: 55px;
        padding-bottom: 15px;
        padding-top: 15px;
        text-align: center;
        color: #3b444f;
        font-weight: bold;
        font-family: BentonSans, Helvetica, Arial, sans-serif;
      }
      .title p {
        margin-bottom: 5px;
        margin-top: 5px;
      }
      .main-text {
        padding-bottom: 30px;
        text-align: center;
        padding-top: 30px;
        font-family: BentonSans, Helvetica, Arial, sans-serif;
        font-size: 18px;
        line-height: 26px;
        color: #3b444f;
      }
      .uppercase {
        text-transform: uppercase;
        font-weight: bold;
      }
      img {
        width: 35px;
        height: 40px;
        padding-left: 15px;
        padding-right: 15px;
      }
      .socials p {
        margin-top: 50px;
        margin-bottom: 30px;
      }
      .follow-text {
        padding-bottom: 15px;
        font-family: BentonSans, Helvetica, Arial, sans-serif;
        font-size: 15px;
        line-height: 19px;
        text-align: center;
        color: #2c3642;
        margin-top: 45px;
      }
      .insta {
        background-image: url("https://s3.eu-central-1.amazonaws.com/photos-worldwide/instagram.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        width: 30px;
        height: 30px;
        display: block;
      }
      .facebook {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        width: 30px;
        height: 30px;
        display: block;
        background-image: url("https://s3.eu-central-1.amazonaws.com/photos-worldwide/facebook.jpg");
      }
      .article-image {
        width: 250px;
        height: 250px;
        display: block;
      }
      .read-more {
        color: #3b444f;
        background-color: white;
        border-color: #6c757d;
        border: 2px solid #6c757d;
        border-radius: 3px;
        width: 150px;
        height: 30px;
        margin-bottom: 30px;
      }
      .continue {
        text-align: center;
        font-size: 18px;
      }
      .continue a {
        text-decoration: none;
        color: #3b444f;
        margin: 5px;
        padding: 10px;
      }
    </style>
  </head>
  <body>
    <table class="welcome-email center">
      <td>
        <table class="center">
          <tbody>
            <tr>
              <td class="title">
                <p>Worldwide Travelover</p>
              </td>
            </tr>
          </tbody>
        </table>

        <table class="center">
          <tbody>
            <tr>
              <td class="main-text">
                <p class="uppercase">Mamy dla Ciebie coś nowego - czeka na Ciebie nowy post :)</p>
              </td>
            </tr>
          </tbody>
        </table>

        <table class="center">
          <tbody>
            <tr>
              <td>
                <img class="article-image" src="<%= @post.cover_url(:thumbnail, public: true) %>">
              </td>
            </tr>
            <tr>
          </tbody>
        </table>

        <table class="center" style="width: 650px;">
          <tbody>
            <tr>
              <td class="main-text">
                <p class="uppercase"><%= @post.title %></p>
                <p>
                  <%= @post.introduction %>
                </p>
              </td>
            </tr>
          </tbody>
        </table>

        <table class="center">
          <tbody>
            <tr>
              <td style="display: flex; justify-content: center">
                <div class="read-more">
                  <div class="continue">
                    <%= link_to "Czytaj więcej...", @post %>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>

        <table class="center">
          <tbody>
            <tr>
              <td style="border-top: 1px solid gray; width: 650px">
                <p class="follow-text">
                  Śledź Worldwide Travelover
                </p>
              <td>
            </tr>
            <tr>
              <td align="center">
                <table>
                  <tbody>
                    <tr>
                      <td style="padding: 5px 15px;">
                        <a class="insta" href="https://www.instagram.com/worldwide_travelover/">
                        </a>
                      </td>
                      <td style="padding: 5px 15px;">
                        <a class="facebook" href="https://www.facebook.com/worldwide.travelover/">
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </table>
  </body>
</html>
