<div class="about fancy-line">
  <span class="article-time">
    O mnie
  </span>
</div>
<div class="about-img">
  <img class="me" src="https://s3.eu-central-1.amazonaws.com/photos-worldwide/IMG_20180804_144224_440.jpg" />
</div>

<div class="about-me">
  <div class="owner-title">Agnieszka Jacek</div>
  <div  style="text-align: left;" >Z wykształcenia księgowa, na co dzień programista. Miłośniczka podróży. Fotograf amator. Uwielbia gotować, dobrze zjeść i testować nowe smaki. Obsesyjna pedantka, której żaden brud nie jest straszny. Zakochana w południowo-wschodniej Azji. Marzy o tym, aby starość spędzić w najpiękniejszym zakątku świata.</div>
</div>
