<div class="about fancy-line">
  <span class="article-time">
    O mnie
  </span>
</div>
<div class="about-img">
  <img class="me" src="https://s3.eu-central-1.amazonaws.com/photos-worldwide/_DSC0063.jpg" />
</div>

<div class="about-me">
  <div class="owner-title">Agnieszka Jacek</div>
  <!--
  Absolwentka finansów, ale życie zaprowadziło w programowanie. Dzięki niemu pojawiła się szansa na częstsze podróże.
  Szuka dobrych okazji do podróży. Mogłaby tylko podróżować. Jakby to ująć, podróżoholiczka.
  Na co dzień chodząca z głową w chmurach. Marzycielka. 
  Zakochana w południowo-wschodniej Azji. Kochająca poznawać nowe miejsca i ludzi. Uwielbiająca testować nowe smaki. 
  -->
</div>
