<div class="badges fancy-line">
  <span class="article-time">
    Badges
  </span>
</div>
<a href='https://www.lonelyplanet.com/pathfinders?utm_source=pathfinder+community&utm_medium=referral&utm_campaign=pathfinders+badges+community'>
  <img src='https://s3.amazonaws.com/static-asset/landing-pages/pathfinders/badges/Community_800px_blue.png' alt='Lonely Planet Pathfinders badge image' width='200px' border='0' />
</a>
