<div class="about fancy-line">
  <span article-time">
    Zgarnij 50zł
  </span>
</div>

<div class="booking-img">
  <a href="https://www.booking.com/s/34_6/91040779" target="_blank" title="Booking">
    <img src="https://s3.eu-central-1.amazonaws.com/photos-worldwide/booking-logo.png" />
  </a>
</div>
