<div class="about fancy-line">
  <span class="article-time">
    Cytat
  </span>
</div>

<div class="quote">
  <div class="quote-text">
    <i class="fas fa-quote-left quote-sign-start"></i>
    <p>Raz w roku jedź do miejsca, w którym jeszcze nigdy nie byłeś.</p>
    <i class="fas fa-quote-right quote-sign-end"></i>
  </div>
  <div class="quote-author"> ~ Dali Lama</div>
</div>
