<div class="facebook fancy-line">
  <span class="article-time">
    Facebook
  </span>
</div>
<iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fworldwide.travelover%2F&tabs&width=301&height=214&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=723160231162405"height="214" style="border:none;overflow:hidden;width:100%"
scrolling="no" frameborder="0" allowTransparency="true"></iframe>
