<footer class="footer">
  <div>
    <header class="blog-header no-padding-bottom">
      <div class="first-nav">
        <div class="col-lg-12">
          <a href="/" class="title worldwide small-w">Worldwide</a><br/>
          <a href="/" class="title travelover small-t">Travelover</a>
        </div>
      </div>
    </header>
  </div>

  <nav class="navbar navbar-expand-lg navbar-dark menu-category">
    <div class="collapse navbar-collapse center" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/wspolpraca">Współpraca</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/kontakt">Kontakt</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="social-media-footer">
    <div>
      <a href="https://www.instagram.com/worldwide_travelover" class="nav-link"><i class="fab fa-instagram white-icon big"></i></a>
    </div>
    <div>
      <a href="https://www.facebook.com/worldwide.travelover" class="nav-link"><i class="fab fa-facebook-square white-icon big"></i></a>
    </div>
    <div>
      <a href="https://twitter.com/worldtravelover" class="nav-link"><i class="fab fa-twitter-square white-icon big"></i></a>
    </div>
  </div>
  <p class="made"> &copy; 2017 made with love by Worldwide-Travelover</p>
</footer>
