<footer class="footer">

  <!-- LightWidget WIDGET 
  -->
  <script src="http://cdn.lightwidget.com/widgets/lightwidget.js"></script>
  <iframe src="//lightwidget.com/widgets/64e0d58138525eca853532bbda7bc019.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width:100%;border:0;overflow:hidden;"></iframe>

  <div>
    <header class="blog-header no-padding-bottom">
      <div class="first-nav">
        <div class="col-lg-12">
          <a href="/" class="title worldwide small-w">Worldwide</a><br/>
          <a href="/" class="title travelover small-t">Travelover</a>
        </div>
      </div>
    </header>
  </div>

  <div class="pages-link">
    <div>
      <a class="nav-link" href="/wspolpraca">Współpraca</a>
    </div>
    <div>
      <a class="nav-link" href="/kontakt">Kontakt</a>
    </div>
  </div>

  <div class="social-media-footer">
    <div>
      <a href="https://www.instagram.com/worldwide_travelover" class="nav-link"><i class="fab fa-instagram white-icon big"></i></a>
    </div>
    <div>
      <a href="https://www.facebook.com/worldwide.travelover" class="nav-link"><i class="fab fa-facebook-square white-icon big"></i></a>
    </div>
    <div>
      <a href="https://pl.pinterest.com/worldwidetravelover/" class="nav-link"><i class="fab fa-pinterest-square white-icon big"></i></i></a>
    </div>
    <div>
      <a href="https://twitter.com/worldtravelover" class="nav-link"><i class="fab fa-twitter-square white-icon big"></i></a>
    </div>
  </div>
  <p class="made"> &copy; 2017 made with love by Worldwide-Travelover</p>
  <div class="privacy-policy">
    <div class="short-cookies-info">
      Nasza strona internetowa używa plików cookies (tzw. ciasteczka) w celach statystycznych, reklamowych oraz funkcjonalnych.
      <%= link_to "Dowiedz się więcej", polityka_prywatnosci_url %>
    </div>
  </div>
</footer>
