<div class="container-fluid">
  <header class="blog-header">
    <div class="first-nav">
      <div class="col-4">
        <% if user_signed_in? %>
          <a href="/posts/new" class="btn btn-sm btn-outline-secondary">New post</a>
        <% else %>
        <a class="subscribe">Subscribe</a>
        <% end %>
      </div>
      <div class="col-4 text-center">
        <a href="/" class="main-title">Worldwide Travelover</a>
      </div>
      <div class="col-4 right-items">
        <% if user_signed_in? %>
          <a><%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "btn btn-sm btn-outline-secondary" %></a>
        <% else %>
          <a href="/users/sign_in" class="btn btn-sm btn-outline-secondary">Log up<a>
        <% end %>
      </div>
    </div>
  </header>
  <div class="menu-category">
    <% Category.all.each do |category| %>
      <a class="categories">
        <%= link_to category.name, posts_path(category: category.name) %>
      </a>
    <% end %>
  </div>
</div>
