<div class="col-lg-3 col-12">
  <div class="sidebar">
    <%= render"shared/about_me" %>
  </div>
  <div class="sidebar">
    <%= render"shared/badges" %>
    <%= render"shared/instagram_feed" %>
    <%= render"shared/facebook" %>
  </div>
</div>
