<section class="blog-area">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-12">
        <div class="blog-posts">
          <div class="single-post">
            <h3 class="title"><b class="light-color">Kontakt</b></h3>
            <p class="desc">Jeśli macie do mnie jakieś pytania, sugestie bądź propozycje to z przyjemnością odpiszę na Wasze wiadomości.
              Polecam się również w kwestii szukania dobrych i tanich lotów. Znajdziecie mnie pod adresem:</p>
            <p><a class="read-more-link" href="mailto:worldwide-travelover@gmail.com">worldwide-travelover@gmail.com</a></p>
          </div>
        </div>
      </div><!-- col-lg-8 -->
      
      <%= render 'shared/new_sidebar'%>
    </div>
  </div>
</section>