<section class="blog-area">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-12">
        <div class="blog-posts">
          <div class="single-post">
            <h3 class="title"><b class="light-color">Polityka prywatności - pliki "cookies"</b></h3>
            <p class="desc">
              Strona worldwide-travelover.com może wykorzystywać ciasteczka (tzw. pliki cookies), 
              czyli pliki tekstowe wysyłane do komputera odwiedzającego identyfikujące go w sposób potrzebny do uproszczenia i przyspieszenia działania serwisu. 
            </p>
            <p class="desc">
              Ciasteczka są nieszkodliwe dla komputera, jak również dla użytkownika i jego danych. 
              Każdy użytkownik może je wyłączyć w ustawieniach własnej przeglądarki.
            </p>
            <p class="desc">
              Wyłączenie lub blokada obsługi cookies może spowodować nieprawidłowe działanie naszej witryny. 
              Jeśli Twoja przeglądarka akceptuje obsługę Cookies, oznacza to wyrażenie zgody na stosowanie cookies przez naszą witrynę.
            </p>
          </div>
        </div>
      </div><!-- col-lg-8 -->
      
      <%= render 'shared/new_sidebar' %>
    </div>
  </div>
</section>