<div class="container">
  <div class="articles">
    <div class="row">
      <div class="col-lg-9 col-12">
        <article class="article-container">
          <div class="article-card">
            <div class="pages">
              <div class="cooperation-title">Polityka prywatności - pliki "cookies"</div>
              <div class="cooperation-content">
                <p>
                  Strona worldwide-travelover.com może wykorzystywać ciasteczka (tzw. pliki cookies), czyli pliki tekstowe wysyłane do komputera odwiedzającego identyfikujące go w sposób potrzebny do uproszczenia i przyspieszenia działania serwisu. 
                  Ciasteczka są nieszkodliwe dla komputera, jak również dla użytkownika i jego danych. 
                  Każdy użytkownik może je wyłączyć w ustawieniach własnej przeglądarki.
                </p>
                <p>
                  Wyłączenie lub blokada obsługi cookies może spowodować nieprawidłowe działanie naszej witryny. Jeśli Twoja przeglądarka akceptuje obsługę Cookies, oznacza to wyrażenie zgody na stosowanie cookies przez naszą witrynę.
                </p>
              </div>
            </div>
          </div>
        </article>
      </div>
      <%= render "shared/sidebar" %>
    </div>
  </div>
</div>