<section class="blog-area">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-12">
        <div class="blog-posts">
          <div class="single-post">
            <h3 class="title"><b class="light-color">Współpraca</b></h3>
            <p class="desc">
              Zapraszam również do współpracy. Chętnie zrealizuję ciekawy projekt z osobami (bądź też organizacjami czy markami), które podobnie jak ja kochają podróże.
              Zastanawiacie się co możemy razem zdziałać?
              Worldwide Travelover jest otwarte na:
            </p>
            <ol class="options">
              <li>pisanie tekstów na bloga bądź artykuły prasowe</li>
              <li>akcje na social media</li>
              <li>promowanie produktów</li>
              <li>nagranie vlogów oraz filmów podróżniczych</li>
              <li>udział w inspirujących spotkaniach podróżniczych</li>
            </ol>
            <p class="desc">Jeśli jesteś zainteresowany, odezwij się:</p>
            <p><a class="read-more-link" href="mailto:worldwide-travelover@gmail.com">worldwide-travelover@gmail.com</a></p>
          </div>
        </div>
      </div><!-- col-lg-8 -->
      <%= render 'shared/new_sidebar'%>
      
    </div>
  </div>
</section>
