 <div class="container">
  <div class="articles">
    <div class="row">
      <div class="col-lg-9 col-12">
        <article class="article-container">
          <div class="article-card">
            <div class="pages">
              <div class="cooperation-title">Współpraca</div>
              <div class="cooperation-content">
                <p>
                  Zapraszam również do współpracy. Chętnie zrealizuję ciekawy projekt z osobami (bądź też organizacjami czy markami), które podobnie jak ja kochają podróże.
                  Zastanawiacie się co możemy razem zdziałać?
                  Worldwide Travelover jest otwarte na:
                  <ul class="options">
                    <li>pisanie tekstów na bloga bądź artykuły prasowe</li>
                    <li>akcje na social media</li>
                    <li>promowanie produktów</li>
                    <li>nagranie vlogów oraz filmów podróżniczych</li>
                    <li>udział w inspirujących spotkaniach podróżniczych</li>
                  </ul>
                  Jeśli jesteś zainteresowany, odezwij się:
                </p>
              </div>
              <div class="cooperation-email">
                <p>worldwide-travelover@gmail.com</p>
              </div>
            </div>
          </div>
        </article>
      </div>
      <%= render "shared/sidebar" %>
    </div>
  </div>
</div>
