<div class="container-fluid">
  <div id="pagewrap">
    <div class="gallery shadow-5">
      <% @photos.each do |photo| %>
        <div class="text-align">
          <div class="image">
            <a href="<%= photo.image_url(:original) %>" data-gallery="gallery-name" data-toggle="lightbox" data-footer="<%= photo.description %>">
              <img src="<%= photo.image_url(:thumbnail) %>" class="img-fluid">
            </a>
          </div>
          <div>
            <% if user_signed_in? %>
              <button class="btn" data-clipboard-action="copy" data-clipboard-text="<%= render_source(partial: "photos/snippet", locals: {photo: photo}) %>">
                Copy
              </button>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
