<div class="text-center">
  <div class="image">
    <a href="<%= photo.image_url(:original, public: true) %>" download data-gallery="gallery-name" data-toggle="lightbox" data-footer="<%= photo.name %>">
      <img src="<%= photo.image_url(:medium, public: true) %>" class="inline-image" title="Kliknij, aby zobaczyć większe zdjęcie">
    </a>
  </div>
</div>
