<div class="text-center image-style">
  <div class="image">
    <a href="<%= photo.image_url(:original, public: true) %>" data-gallery="gallery-name" data-toggle="lightbox" data-footer="<%= photo.name %>">
      <img src="<%= photo.image_url(:medium, public: true) %>" class="img-fluid">
    </a>
  </div>
</div>
