<% @photos.each do |photo| %>

  <a href="<%= photo.image_url(:original) %>" data-gallery="gallery-name" data-toggle="lightbox" data-footer="<%= photo.description %>">
    <img src="<%= photo.image_url(:thumbnail) %>" class="img-fluid">
  </a>
<% end %>
