@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

/*
====================================================	
	1. PRIMARY STYLES
	2. COMMONS STYLES
	3. MENU
	4. SINGLE POST
		POST STYLE TWO 
		CATEGORY
	5. SIDEBAR STYLING
		ABOUT AUTHOR 
		SEARCH AREA
		NEWSLETTER AREA
		CATEGORY AREA
		LATEST POSTS
		ADVERTISEMENT AREA
		INSTAGRAM 
		TAGS
		QUOTE
	6. FOOTER
	7. GALLERY AND PHOTOS
	8. PAGINATION

====================================================

/* ---------------------------------
1. PRIMARY STYLES
--------------------------------- */
@font-face {
  font-family: "PlaylistScript";
  src: font-url("Playlist-Script.eot");
  src: font-url("Playlist-Script.eot#iefix") format("embedded-opentype"),
    font-url("Playlist-Script.woff") format("woff"),
    font-url("Playlist-Script.svg#icofonts") format("svg");
}

:root {
  --main-bg-color: #dee3d2;
  --main-font-color: #626262;
  --nav-footer: #405448;
  --blog-title: #abccd2;
  --white: #f9f9f6;
  --orange: #ffad4d;
}

html {
  font-size: 100%;
  height: 100%;
  overflow-x: hidden;
  touch-action: manipulation;
}

.modal-open {
  overflow: visible !important;
}

body {
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  color: var(--main-font-color);
  font-weight: 400;
  line-height: 26px;
  min-height: 100vh;
  width: 100%;
  height: 100%;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  word-wrap: break-word;
  display: flex;
  flex-direction: column;

  .holygrail-body {
    flex: 1 0 auto;
    padding-top: 50px;
    padding-bottom: 30px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ul,
span,
li,
img,
button {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.5;
  font-weight: inherit;
}

p {
  line-height: 1.6;
  font-size: 1.2em;
  font-family: "Maven Pro", sans-serif;
  font-weight: 400;
  color: var(--main-font-color);
}

h1 {
  font-size: 4em;
  line-height: 1;
}
h2 {
  font-size: 2.8em;
  line-height: 1.1;
}
h3 {
  font-size: 1.8em;
}
h4 {
  font-size: 1.5em;
}
h5 {
  font-size: 1.2em;
}
h6 {
  font-size: 0.9em;
  letter-spacing: 1px;
}

a,
button {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  transition: all 0.3s;
}

//a:focus,
a:active,
a:hover,
button:focus,
button:active,
button:hover,
a b.light-color:hover {
  text-decoration: none;
  color: var(--orange);
}

b {
  font-weight: 500;
}

li {
  list-style: none;
  display: inline-block;
}

span {
  display: inline-block;
}

button {
  outline: 0;
  border: 0;
  background: none;
  cursor: pointer;
}

b.light-color {
  color: var(--main-font-color);
}

/* ---------------------------------
2. COMMONS FOR PAGE DESIGN
--------------------------------- */
.image img {
  padding-bottom: 15px;
  padding-top: 15px;
}

.text-align {
  text-align: center;
}

.center-btn-img {
  text-align: center;
}

.bold {
  font-weight: bold;
}
.uppercase {
  text-transform: uppercase;
}

p.alert {
  margin-bottom: 0;
}

iframe {
  width: 100%;
  margin: 0 auto;
  display: block;

  @media (min-width: 768px) {
    width: 60%;
  }
}

.preview-container {
  img {
    max-width: 100%;
  }
}

#shareIconsCount {
  font-size: 12px;
  text-align: center;
  margin-bottom: 40px;
}

// markdown editor //
.big-textarea {
  height: 400px;
}
//

.read-more-link {
  margin: 20px 0;
  font-size: 0.9em;
  letter-spacing: 2px;
  position: relative;
  overflow: hidden;
  color: var(--orange);
}

.read-more-link:after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
  height: 1px;
  transition: all 0.2s;
  background: var(--orange);
}

.read-more-link:hover:after {
  transform: translateX(100%);
}

.btn {
  font-size: 0.9em;
  padding: 15px 30px;
  border-radius: 1px;
  letter-spacing: 2px;
  border: 1px solid var(--orange);
  background: var(--orange);
  color: #fff;
}

.btn:hover {
  color: var(--orange);
  background: none;
}

.btn-2 {
  background: none;
  color: var(--orange);
}

.btn-2:hover {
  background: var(--orange);
  color: #fff;
}

.section {
  padding: 70px 0 40px;
}

.section .heading {
  padding-bottom: 70px;
}

.center-text {
  text-align: center;
}

.color-white {
  color: #fff;
}

.display-table {
  display: table;
  height: 100%;
  width: 100%;
}

.display-table-cell {
  display: table-cell;
  vertical-align: middle;
}

.card {
  background: transparent;
  border: 0;
}

.no-side-padding {
  padding-right: 0px;
  padding-left: 0px;
}

.no-left-padding {
  padding-left: 0px;
}

.no-right-padding {
  padding-right: 0px;
}

.icon {
  font-size: 2em;
}

.left-area {
  float: left;
}

.right-area {
  float: right;
}

.width-60 {
  width: 60%;
}

.width-50 {
  width: 50%;
}

::-webkit-input-placeholder {
  font-size: 0.9em;
  letter-spacing: 1px;
}

::-moz-placeholder {
  font-size: 0.9em;
  letter-spacing: 1px;
}

:-ms-input-placeholder {
  font-size: 0.9em;
  letter-spacing: 1px;
}

:-moz-placeholder {
  font-size: 0.9em;
  letter-spacing: 1px;
}

.options {
  list-style-type: circle;
  line-height: 1.6;
  font-size: 1.2em;
  font-family: "Maven Pro", sans-serif;
  font-weight: 400;
  color: var(--main-font-color);

  li {
    list-style: circle;
    display: list-item;
  }
}

/* ---------------------------------
3. MENU
--------------------------------- */
.coco-image {
  background-color: #8b9b9b;
  background-image: image-url("coco-cropped.jpg");
  background-size: cover;
  background-position: center center;
}
.navbar {
  background-color: var(--nav-footer);
}
.nav-link.active {
  color: var(--orange) !important;
}
.sticky.is-sticky {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1000;
}

.navbar-dark .navbar-toggler {
  border-color: transparent !important;
}
.menu-category {
  a {
    color: white !important;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 400;
  }
}
.navbar-dark .navbar-toggler {
  border-color: rgba(255, 255, 255, 0.9);
}
.right-side-menu {
  display: flex;
}

.dropdown-menu {
  background-color: var(--nav-footer);
  margin: 7px 0 0;
  border: 1px solid white;

  hr {
    border-top: 1px solid white;
  }
  hr:last-child {
    border-top: 0;
    display: none;
  }
}
.dropdown-item:hover {
  background-color: var(--nav-footer);
  color: var(--main-bg-color);
}

/* ---------------------------------
4. SINGLE POST
--------------------------------- */
.blog-posts .single-post {
  margin-bottom: 60px;
}

.single-post .icons {
  overflow: hidden;
  line-height: 30px;
  margin: 30px 0 10px;
}

.single-post .icons .category-btn {
  padding: 0 20px;
  height: 30px;
  line-height: 30px;
}

.single-post .icons .category-btn.without-hover {
  pointer-events: none;
  color: white;
}
.single-post .icons ul.social-icons {
  color: #666;
}

.single-post .icons ul.social-icons > li > a {
  padding-left: 15px;
}

.single-post .icons ul.social-icons > li > a > i {
  margin-right: 10px;
}

.single-post .title {
  margin: 20px 0 0px;
}

.single-post .date {
  color: #999;
  margin-bottom: 15px;
}
.single-post .desc {
  margin: 20px 0;
}

.single-post .single-post-body {
  p {
    padding-bottom: 15px;

    img {
      margin-left: auto;
      margin-right: auto;
      display: block;
    }

    a {
      color: var(--orange);
      text-decoration: underline;
    }

    a:hover {
      text-decoration: none;
      color: #e59b45;
    }
  }

  &.with-padding {
    padding: 0;
  }
  h5 {
    font-family: "Maven Pro", sans-serif;
    font-weight: bold;
    padding-bottom: 15px;
    padding-top: 15px;
  }

  ul, ol {
    padding-left: 35px;
    margin-bottom: 16px;

    li {
      display: list-item;
      padding: 5px 5px;
    }
  }

  ul li {
    list-style-type: circle;
  }
  ol li {
    list-style-type: decimal;
  }
  
  ul li, ol li{
    font-size: 1.2em;
    font-family: "Maven Pro", sans-serif;
    font-weight: 400;
    color: var(--main-font-color); 
  }
}

.single-post .read-more-btn {
  clear: both;
  margin-top: 30px;
  box-shadow: 1px 10px 15px rgba(0, 0, 0, 0.15);
  border: 1px solid var(--orange);
  background: #fff;
  color: var(--orange);
  font-weight: bold;
}

.single-post .read-more-btn:hover {
  box-shadow: 1px 3px 15px rgba(0, 0, 0, 0.15);
  background: var(--orange);
  color: #fff;
}

.single-post .image-wrapper {
  display: block;
  margin: auto;
}
.single-post .image-wrapper img {
  max-width: 100%;
}

/* POST STYLE TWO */

.post-style-2 .image-wrapper {
  padding-right: 30px;
}

.category-header {
  text-align: center;
  padding-bottom: 40px;

  .category-name {
    color: var(--orange);
    font-family: "Maven Pro", sans-serif;
    font-size: 22px;
    line-height: 26px;
    text-transform: uppercase;
  }
}

.single-post {
  img.inline-image {
    // max-width:80%;
    // max-height:500px;
  }
}
//remove max-height and max-width for old images which had ridigly defined values in html 
.single-post-body {
  img {
    max-width: none !important;
    max-height: none !important;
  }
}

/* ---------------------------------
5. SIDEBAR STYLING
--------------------------------- */
/*recaptcha */

div.grecaptcha-badge {
  width: 0 !important;
  height: 0 !important;
  transition: unset !important;
  position: unset !important;
  bottom: unset !important;
  right: unset !important;
  box-shadow: unset !important;
}

.sidebar-section {
  margin-bottom: 50px;
}

.sidebar-section .title {
  margin-bottom: 30px;
}

.sidebar-area img {
  max-width: 600px;
}

/* ABOUT AUTHOR */
.about-author {
  margin-top: 30px;
  padding: 0 30px 30px;
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.2);

  @media (max-width: 960px) {
    margin-top: 95px
  }
}

.about-author .author-image {
  max-width: 150px;
  margin: 0px auto 20px;
  transform: translateY(-30px);
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
}

.about-author .social-icons > li {
  margin: 0 10px;
  color: #888;
  font-size: 1.05em;
  padding-top: 15px;
}

.about-author .author-name {
  margin: 20px 0;
}

.about-author .signature-image {
  margin: 20px auto 0;
  max-width: 120px;
}

.about-author .read-more-link {
  margin: 20px 0;
  font-size: 0.9em;
  letter-spacing: 2px;
  position: relative;
  overflow: hidden;
  color: var(--orange);
}

.about-author .read-more-link:after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
  height: 1px;
  transition: all 0.2s;
  background: var(--orange);
}

.about-author .read-more-link:hover:after {
  transform: translateX(100%);
}

/* SEARCH AREA */
.src-area {
  line-height: 50px;
  position: relative;
}

.src-area input {
  display: block;
  width: 100%;
  padding: 0 50px 0 20px;
  border: 0;
  outline: 0;
  border-bottom: 1px solid #bbb;
}

.src-area .src-btn {
  position: absolute;
  top: 0;
  right: 20px;
  height: 50px;
}

/* NEWSLETTER AREA */
.newsletter-area {
  padding: 30px;
  background: var(--nav-footer);
}

.newsletter-area .title {
  margin: 0;
  color: #fff;
}

.newsletter-area .email-input {
  width: 100%;
  margin: 15px 0;
  border: 0;
  padding: 10px 20px;
  background: #fff;
}

/* CATEGORY AREA */
.category-area .category {
  position: relative;
  margin-bottom: 20px;
}

.category .name {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 7px 20px;
  background: var(--orange);
  color: #fff;
}

/* LATEST POSTS */
.latest-post {
  overflow: hidden;
  margin-bottom: 20px;
}

.latest-post .l-post-image {
  width: 80px;
  float: left;
}
.latest-post .l-post-image img {
  width: 100%;
}

.latest-post .post-info {
  margin-left: 100px;
}

.latest-post .category-btn {
  padding: 5px 10px;
  margin-bottom: 5px;
}

.latest-post .date {
  margin-top: 5px;
  color: #888;
}

/* ADVERTISEMENT AREA */
.advertisement-img {
  position: relative;
}

.sidebar-area img.responsive-booking-img {
  max-width: 60%;
}

/* INSTAGRAM */
.instagram-area {
  overflow: hidden;
}

.instagram-area .instagram-img > li {
  width: 30%;
  float: left;
  margin: 0 5px 5px 0;
}

/* TAGS */
.tags-area .tags {
  overflow: hidden;
}

.tags-area .tags > li {
  float: left;
  margin: 0 5px 5px 0;
}

.tags-area .tags > li > a {
  padding: 10px 15px;
}

/* QUOTE */
.quote {
  text-align: center;

  .quote-author {
    color: var(--orange);
  }
  .quote-text {
    display: flex;
    p {
      margin-bottom: 0;
    }
    .quote-sign-end,
    .quote-sign-start {
      color: var(--orange);
      font-size: 8px;
      font-style: italic;
    }
    .quote-sign-end {
      align-self: flex-end;
    }
  }
}

/* ---------------------------------
6. FOOTER 
--------------------------------- */

.social-media-footer,
.pages-link {
  display: flex;
  justify-content: center;
}
.pages-link {
  padding-bottom: 10px;
  padding-top: 15px;
  div a {
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding-left: 8px;
    padding-right: 8px;
  }
}

div.privacy-policy {
  display: flex;
  justify-content: center;
  font-family: "Montserrat", sans-serif;

  div.short-cookies-info {
    padding-right: 10px;
  }
  a {
    color: var(--orange);
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    font-weight: bold;
  }
}
.white-icon {
  color: var(--white);

  &.big {
    font-size: 24px;
  }
}
.footer {
  text-align: center;
  color: white;
  font-size: 12px;
  background-color: var(--nav-footer);
  border-top: 0.05rem var(--nav-footer);
  //margin-top: 115px;
  width: 100%;

  p.made {
    margin-top: 16px;
    color: white;
    font-family: "Montserrat", sans-serif;
  }
  .footer-image {
    width: 30px;
    height: 30px;
  }
}
.blog-header {
  line-height: 1;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;

  &.no-padding-bottom {
    padding-bottom: 0px;
  }
  .first-nav {
    display: flex;
    word-wrap: break-word;

    a {
      text-decoration: none;
    }
    a.title {
      font-size: 65px;
      color: var(--white);
      font-weight: 400;

      &.small-w {
        font-size: 35px;
      }
    }
    a.title.worldwide {
      font-family: "PlaylistScript";
    }
    a.title.travelover {
      font-size: 50px;
      font-family: "Montserrat", sans-serif;

      &.small-t {
        font-size: 20px;
      }
    }
  }
}

/* ---------------------------------
7. GALLERY AND PHOTOS 
--------------------------------- */

#pagewrap {
  width: 100%;
  margin: 0 auto;

  .gallery {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .image {
    padding: 10px;
    margin: 2% 1.5%;
  }
}

.active-tag {
  display: flex;
  .tag-title,
  .tag-name {
    color: #444;
    font-size: 18px;
    font-weight: 700;
    margin-right: 8px;
  }
  .tag-title {
    font-family: "Maven Pro", sans-serif;
  }
  a {
    text-decoration: none;
    margin-top: 1px;
    i {
      color: var(--orange);
    }
  }
}

.multi-columns-row {
  a {
    color: var(--main-font-color);
    font-weight: bold;
    font-family: "Roboto", sans-serif;
  }
}

.album {
  position: relative;
  float: none;
  margin: 0 auto;
  height: 250px;
  width: 250px;
  display: block;
  margin-bottom: 15px;

  .link {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    text-align: center;
    font-size: 18px;
  }

  .thumb {
    .polaroid {
      position: absolute;
      top: 0px;
      left: 0px;
      background-color: #333333;
      background-size: cover;
      background-position: 50% 50%;
      width: 150px;
      height: 150px;
      border: 5px solid white;
      border-bottom-width: 20px;
      box-sizing: border-box;
    }
  }
  @for $i from 1 through 4 {
    $random: random(5);
    .thumb:nth-child(#{$i}) {
      .polaroid {
        top: #{15 * $i}px;
        left: #{15 * $i}px;
        -webkit-transform: rotate(#{-5+ ($i * $random)}deg);
        -ms-transform: rotate(#{-5+ ($i * $random)}deg);
        transform: rotate(#{-5+ ($i * $random)}deg);

        -moz-animation: splayImages-#{$i} 1s ease-out 0s alternate 1;
        -webkit-animation: splayImages-#{$i} 1s ease-out 0s alternate 1;
        animation: splayImages-#{$i} 1s ease-out 0s alternate 1;
      }
    }
    @keyframes splayImages-#{$i} {
      0% {
        top: 0px;
        left: 0px;

        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
      }
      100% {
        top: #{15 * $i}px;
        left: #{15 * $i}px;

        -webkit-transform: rotate(#{-5+ ($i * $random)}deg);
        -ms-transform: rotate(#{-5+ ($i * $random)}deg);
        transform: rotate(#{-5+ ($i * $random)}deg);
      }
    }
  }
}

// lightbox //
.ekko-lightbox {
  display: -ms-flexbox !important;
  display: flex !important;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-right: 0 !important;
}
.ekko-lightbox-container {
  position: relative;
}
.ekko-lightbox-container > div.ekko-lightbox-item {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
}
.ekko-lightbox iframe {
  width: 100%;
  height: 100%;
}
.ekko-lightbox-nav-overlay {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -ms-flexbox;
  display: flex;
}
.ekko-lightbox-nav-overlay a {
  -ms-flex: 1;
  flex: 1;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.5s;
  color: #fff;
  font-size: 30px;
  z-index: 1;
}
.ekko-lightbox-nav-overlay a > * {
  -ms-flex-positive: 1;
  flex-grow: 1;
}
.ekko-lightbox-nav-overlay a > :focus {
  outline: none;
}
.ekko-lightbox-nav-overlay a span {
  padding: 0 30px;
}
.ekko-lightbox-nav-overlay a:last-child span {
  text-align: right;
}
.ekko-lightbox-nav-overlay a:hover {
  text-decoration: none;
}
.ekko-lightbox-nav-overlay a:focus {
  outline: none;
}
.ekko-lightbox-nav-overlay a.disabled {
  cursor: default;
  visibility: hidden;
}
.ekko-lightbox a:hover {
  opacity: 1;
  text-decoration: none;
}
.ekko-lightbox .modal-dialog {
  display: none;
}
.ekko-lightbox .modal-footer {
  text-align: right;
}
.ekko-lightbox-loader {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
}
.ekko-lightbox-loader > div {
  width: 40px;
  height: 40px;
  position: relative;
  text-align: center;
}
.ekko-lightbox-loader > div > div {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  animation: 2s infinite ease-in-out;
}
.ekko-lightbox-loader > div > div:last-child {
  animation-delay: -1s;
}
.modal-dialog .ekko-lightbox-loader > div > div {
  background-color: #333;
}
@keyframes a {
  0%,
  to {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  50% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}

/* ---------------------------------
8. PAGINATION
--------------------------------- */

/* Pagination */

.pagination {
  display: flex;
  justify-content: center;
  font-size: 18px;
}

.page-item.active .page-link {
  background-color: var(--orange);
  border-color: var(--orange);
}

.page-link {
  color: var(--orange);
}
.page-link:hover {
  color: white;
  background-color: var(--nav-footer);
  border-color: var(--nav-footer);
}
